
.showcase{
  
  margin: 8rem auto 0 auto;
  padding-bottom: 2rem;
  border-radius: 10px;
  width: 87%;
  text-align: center;
  text-transform: capitalize;
  padding-left: 13px;
  padding-right: 13px;
  background: #fff;
  box-shadow: -9px -6px 122px -33px rgba(0,0,0,0.75);
  .btn-wrap{
    //margin-bottom: 1rem;
    display: flex;
   // height: 50px;
    justify-content: center;
   // border: black solid 1px;
    .showcase__btn{
      margin-right: 1rem;
      background: $moderateCyan;
      color: #fff;
      font-weight: bold;
      padding: 10px 40px;
      border: none;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      font-size: 1rem;
      text-transform: lowercase;
      transition: 0.4s;
      cursor: pointer;
      &:hover{
        background: $darkCyan
      }
    }
    .bookmark__btn{
      //padding-right: 15px;
      background: #eaeaea;
      display: flex;
      border: none;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      cursor: pointer;
      transition: 0.4s;
      &:hover{
        background: #fff
      }
      img{
        height: 50px;
        width: auto;
      }
      span{
        display: none;
        
      }
    }
  }
  img{
    display: inline-block;
    //border: red solid 1px;
    width: 70px;
  }
  &__master-icon{
    position: relative;
    top: -2rem;
    
  }
  h1{
    font-size: 1.8rem;
    color: rgb(55, 54, 54);
  }
  p{
    margin: 1.5rem 0;
    color: #8f8989;
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px){
  .showcase{
    width: 700px;
    //padding: 2rem 3rem;
    box-sizing: border-box;
    &__master-icon{
      top: -2rem;
    }
    h1{
      //margin-top: -2rem;
      font-size: 2.4rem;
    }
    .btn-wrap{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      span{
        display: block !important;
        margin-left: 10px;
        color: #969393;
        font-size: 1rem;
        font-weight: bold;

      }
      justify-content: space-between;
      margin-top: 2.3rem;
      .bookmark__btn{
        padding-right: 15px;
      }
      
    }
  }
}